[MESSAGES CONTROL]
# Disable missing docstring checks for modules, classes, and functions/methods
# Disable "unable to import error"
# Disable "too few public methods"
disable=C0114,C0115,C0116,E0401,R0903
