.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.nav-entry {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 10px;
}

.nav-logo {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0px 10px;
}
